@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

html,
body {
	background-color: #F2F3F3;
}

.brown-arrow .carousel .control-arrow,
.brown-arrow .carousel.carousel-slider .control-arrow {
	opacity: 1;
	border-radius: 100%;
	height: 48px;
	width: 48px;
	background: #a56831;
	background-color: #a56831;
	margin: auto;
}

.brown-arrow .carousel .control-arrow,
.brown-arrow .carousel.carousel-slider .control-arrow:hover {
	opacity: 1;
	border-radius: 100%;
	height: 48px;
	width: 48px;
	background: #a56831;
	background-color: #a56831;
	margin: auto;
}

.brown-arrow .carousel.carousel-slider .control-arrow {
	top: 0;
	bottom: 0;
	color: #fff;
	font-size: 26px;
	margin: auto;
	padding: 5px;
}

.bookings .carousel .control-arrow,
.bookings .carousel.carousel-slider .control-arrow {
	opacity: 1;
	border-radius: 100%;
	height: 48px;
	width: 48px;
	background: #a56831;
	background-color: #a56831;
	margin: auto;
}

.bookings .carousel .control-arrow,
.bookings .carousel.carousel-slider .control-arrow:hover {
	opacity: 1;
	border-radius: 100%;
	height: 48px;
	width: 48px;
	background: #a56831;
	background-color: #a56831;
	margin: auto;
}

.bookings .carousel.carousel-slider .control-arrow {
	top: 0;
	bottom: 0;
	color: #fff;
	font-size: 26px;
	margin: auto;
	padding: 5px;
}

.bigcard .carousel .control-arrow,
.bigcard .carousel.carousel-slider .control-arrow {
	opacity: 1;
}

.bigcard .carousel .control-arrow,
.bigcard .carousel.carousel-slider .control-arrow:hover {
	opacity: 1;
	background-color: rgba(165, 104, 49, 0.7);
}

.bigcard .carousel .control-next {
	border-bottom-right-radius: 24px;
	border-top-right-radius: 24px;
}

.bigcard .carousel .control-prev {
	border-bottom-left-radius: 24px;
	border-top-left-radius: 24px;
}

.bigcard .carousel.carousel-slider .control-arrow {
	top: 0;
	bottom: 0;
	font-size: 26px;
	margin: auto;
	padding: 5px;
}

.smallcard .carousel .control-arrow,
.smallcard .carousel.carousel-slider .control-arrow {
	opacity: 1;
}

.smallcard .carousel .control-arrow,
.smallcard .carousel.carousel-slider .control-arrow:hover {
	opacity: 1;
	background-color: rgba(165, 104, 49, 1);
}

.smallcard .carousel .control-next {
	border-bottom-right-radius: 12px;
	border-top-right-radius: 12px;
}

.smallcard .carousel .control-prev {
	border-bottom-left-radius: 12px;
	border-top-left-radius: 12px;
}

.smallcard .carousel.carousel-slider .control-arrow {
	top: 0;
	bottom: 0;
	font-size: 26px;
	margin: auto;
	padding: 5px;
}
